<!-- <mat-toolbar color="primary">
    <span class="fill-remaining-space" fxLayoutAlign="center center">Forgot Password</span>
</mat-toolbar> -->
<h2 mat-dialog-title>Forgot Password</h2>
<mat-dialog-content class="mat-typography">
    <div class="container fluid">
        <form [formGroup]="frmForgotPassword" (ngSubmit)="forgotPassword(frmForgotPassword.value)">
            <div class="form-group">
                <div class="form-group form-check">
                    <mat-radio-group aria-label="Select an option" formControlName="forgotPasswordOption"
                        [(value}]="forgotPasswordOption" (change)="toggleForgotPasswordOptionsValue()">
                        <mat-radio-button [value]="true">Mobile No.</mat-radio-button>&nbsp;
                        <mat-radio-button [value]="false">Email Id</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>{{lable}}</mat-label>
                    <input matInput formControlName="forgotPasswordValue" id="forgotPasswordValue" type="text"
                        placeholder="placeHolder" required [(value}]="forgotPasswordValue">
                    <mat-error
                        *ngIf="!frmForgotPassword.controls['forgotPasswordValue'].valid && frmForgotPassword.controls['forgotPasswordValue'].touched">
                        {{ getErrorMessage() }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-element setCenter">
                <button color="primary" mat-raised-button type="submit" [disabled]="!frmForgotPassword.valid">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Submit
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary" type="button" mat-raised-button color="warn" mat-dialog-close>
                    <i class="fa fa-close" aria-hidden="true"></i>
                    Cancel</button>
            </div>
        </form>
    </div>
</mat-dialog-content>