.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
    text-align: center;
  }
  
  .container {
    padding: 10px;
  }
  
  .frm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 5px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .hidden{
    display: none;
  }

  .setCenter{
    text-align: center;
  }

  .error{
    color: red;
  }