<app-header></app-header>


<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="frmChangePassword" autocomplete="off" fxLayoutAlign="center center" novalidate
                (ngSubmit)="changePassword(frmChangePassword.value)" class="frmChangePassword">

                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="form-element">
                            <input matInput type="password" placeholder="Old Password" formControlName="oldPassword"
                                value="changePasswordModel.oldPassword" />
                            <mat-error
                                *ngIf="!frmChangePassword.controls['oldPassword'].valid && frmChangePassword.controls['oldPassword'].touched">
                                {{ getErrorMessage('oldPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="form-element">
                            <input matInput type="password" placeholder="New Password" formControlName="newPassword"
                                value="changePasswordModel.newPassword" />
                            <mat-error
                                *ngIf="!frmChangePassword.controls['newPassword'].valid && frmChangePassword.controls['newPassword'].touched">
                                {{ getErrorMessage('newPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="form-element">
                            <input matInput type="password" placeholder="Confirm Password"
                                formControlName="confirmPassword" value="changePasswordModel.confirmPassword" />
                            <mat-error *ngIf="!frmChangePassword.controls['confirmPassword'].valid && 
                                frmChangePassword.controls['confirmPassword'].touched">
                                {{ getErrorMessage('confirmPassword') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-element setCenter">
                    <button color="primary" mat-raised-button type="submit" [disabled]="!frmChangePassword.valid">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Update Password
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-secondary" type="button" mat-raised-button color="warn" mat-raised-button
                        (click)="navigateTo()">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Back to Home</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>